</style></p>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tbody>
    <tr>
      <td bgcolor="#dedede">
        <table border="0" cellspacing="0" cellpadding="0" width="447" bgcolor="#dedede" align="center">
          <tbody>
            <tr>
              <td height="28" width="447">&nbsp;</td>
            </tr>
            <tr>
              <td width="447" height="20"><img title="" border="0" alt="" width="447" height="20" style="display: block" src="http://kliqmobile.com/images/email/email-top-top.gif" /></td>
            </tr>
            <tr>
              <td valign="top" width="447" height="26" style="font-family:Helvetica, Arial; color: rgb(64,66,67); font-size: 18px">
                <table cellspacing="0" cellpadding="0" width="447">
                  <tbody>
                    <tr>
                      <td width="28" height="26"><img title="" border="0" alt="" src="http://kliqmobile.com/images/email/email-top-left.gif" width="28" height="26"></td>
                      <td width="328" height="26" style="background-color:#4b4b4b;font-family:Helvetica, Arial; color: rgb(255,255,255); font-size: 18px;">Hello {{ recipient_name }}</td>
                      <td width="91" height="26"><img title="Kliqmobile.com" border="0" alt="Kliqmobile.com" src="http://kliqmobile.com/images/email/kliq-mobile-logo.gif" width="91" height="26"></td>
                    </tr>
                  </tbody>
		</table>
	      </td>
            </tr>
            <tr>
              <td width="447" height="23"><img title="" border="0" alt="" width="447" height="23" style="display: block" src="http://kliqmobile.com/images/email/email-top-bottom.gif" /></td>
            </tr>
            <tr>
              <td valign="top" width="445" style="font-family:Helvetica, Arial; color: rgb(64,66,67); border-left:1px solid #000000;border-right:1px solid #000000;;font-size: 18px">
                <table cellspacing="0" cellpadding="0" width="445">
                  <tbody>
                    <tr>
                      <td width="6" style="background-color: rgb(75,75,75);">&nbsp;</td>
                      <td width="413" style="border-left:1px solid #000000;border-right:1px solid #000000;padding-left:9px;padding-right:9px;background-color: rgb(241,246,250);">

			<p style="line-height: 18px; font-family:Helvetica, Arial; margin-bottom: 10px; color: rgb(64,66,67); font-size: 12px">
			  {{ sender_name }} added you to his "<span style="color:#7a539c">KLIQ</span>", and wants to video-chat with you! Please click "Accept Invitation" if you want to receive his/her chat request.
			</p>
			<p style="margin:0 auto;text-align:center;font-family:Helvetica, Arial;margin-bottom:10px;color:rgb(64,66,67);font-size:14px;">
			  {{ message }}
			</p>
			<p style="width:150px;overflow:hidden;margin:0 122px;font-family:Helvetica, Arial;margin-bottom:10px;color:rgb(64,66,67);font-size:14px;">
			  <a href="{{ url }}"><img style="margin:0 auto;max-width:150px;text-align:center;" align="center" src="/" alt="{{ message }}" /></a>
			</p>
			<p>
			  <a href="{{ url }}" class="sharebutton"><img title="Accept Invitation" border="0" alt="Accept Invitation" id="sharebutton" src="http://kliqmobile.com/images/email/accept-invitation-button.gif" width="412" height="46" style="display: block"></a>
			</p>

                      </td>
                      <td width="6" style="background-color: rgb(75,75,75);">&nbsp;</td>
                    </tr>
                  </tbody>
              </table></td>
            </tr>
            <tr>
              <td height="29" width="447"><img title="" border="0" alt="" width="447" height="29" style="display: block" src="http://kliqmobile.com/images/email/email-bottom-bottom.gif" /></td>
            </tr>
          </tbody>
        </table>
        <table border="0" cellspacing="0" cellpadding="0" width="447" align="center">
          <tbody>
            <tr>
              <td width="447" colspan="3">&nbsp;</td>
            </tr>
            <tr>
              <td width="20">&nbsp;</td>
              <td class="small" width="407" align="center">
                <p class="small" style="font-family: Arial; color: rgb(0,0,0); font-size: 11px; text-algin: left">KLIQ Mobile, LLC, Birmingham, Michigan 48009, USA<br />
                  &copy;2012 KLIQ Mobile. All rights reserved.</p>
              </td>
              <td width="20">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
</body>
</html>
